@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<body class="backgroundRegisterLog">
    <div class="alignM">
            <div class="col-md-7 backgroundFont">
<h1 style="color:black;">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
</div>
</div>
</body>
