@{
    ViewData["Title"] = "About_us";
    Layout = "_Layout-NoFooter";
}

<div class="aboutPage">
<div class="hero-sectionAbout">
        <h1> Lorem ipsum dolor sit amet</h1>
</div>

<div class="content-sectionAbout">
    <div class="text-blockAbout">
        <h2>Our Story</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu semper odio, et euismod felis. Vestibulum sagittis magna mauris, eu egestas nisl accumsan a. Phasellus egestas mollis dui, eu egestas ligula tincidunt at. Aenean quis lorem luctus, lobortis ligula ac, sodales nulla. Aenean lobortis ultricies risus, eget efficitur arcu consectetur sed. Donec eget risus auctor, tincidunt lorem et, feugiat quam. Etiam malesuada efficitur ligula, vel sollicitudin ante efficitur nec. Nulla ultricies pulvinar tortor id suscipit.

                Quisque et nisl semper, dignissim lectus a, pellentesque turpis. Morbi vel augue ullamcorper lectus tincidunt consequat. Phasellus eros mauris, semper at mattis sed, fringilla quis mi. Cras suscipit ut erat quis condimentum. Praesent dui dolor, tempor sed turpis vel, fermentum sagittis massa. Morbi diam magna, viverra quis dolor a, auctor tempus neque. Nunc nec eros vitae leo aliquet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut blandit rutrum nunc sed rhoncus.
            </p>
    </div>
    <div class="image-blockAbout">
        <img src="/images/achievement-adult-business-business-people.jpg" alt="Image 1">
    </div>
    
    <div class="image-blockAbout">
        <img src="/images/6791590809_b6b04b0cc4_b.jpg" alt="Image 2">
    </div>
        <div class="text-blockAbout">
            <h2>Our Values</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu semper odio, et euismod felis. Vestibulum sagittis magna mauris, eu egestas nisl accumsan a. Phasellus egestas mollis dui, eu egestas ligula tincidunt at. Aenean quis lorem luctus, lobortis ligula ac, sodales nulla. Aenean lobortis ultricies risus, eget efficitur arcu consectetur sed. Donec eget risus auctor, tincidunt lorem et, feugiat quam. Etiam malesuada efficitur ligula, vel sollicitudin ante efficitur nec. Nulla ultricies pulvinar tortor id suscipit.

                Quisque et nisl semper, dignissim lectus a, pellentesque turpis. Morbi vel augue ullamcorper lectus tincidunt consequat. Phasellus eros mauris, semper at mattis sed, fringilla quis mi. Cras suscipit ut erat quis condimentum. Praesent dui dolor, tempor sed turpis vel, fermentum sagittis massa. Morbi diam magna, viverra quis dolor a, auctor tempus neque. Nunc nec eros vitae leo aliquet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut blandit rutrum nunc sed rhoncus.
            </p>
        </div>
</div>
</div>
