
<div class="containerHomePage">
    <div class="hero-Nav">
        <div class="hero-textAndName hidden">
            <h1>Capital Forte</h1>
        </div>
    </div>
     
            <!-- TradingView Widget BEGIN -->
            <div class="topStories">


        <div class="tradingview-widget-container topStoriesFrame">
            <div class="tradingview-widget-container__widget" ></div>
            <div class="tradingview-widget-copyright"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
                {
                  "feedMode": "all_symbols",
                  "isTransparent": true,
                  "displayMode": "regular",
                  "width": "100%",
                  "height": "100%",
                  "colorTheme": "light",
                  "locale": "en"
                }
            </script>
        </div>
        <!-- TradingView Widget END -->
            
            </div>

     

    <div class="investing-strategies hidden">
        <div class="investing-strategiesTitle">
            <p>
                Effective Investing Strategies
            </p>
        </div>

        <div class="strategy1 hidden">
            <a class="nav-link" asp-area="customer" asp-controller="Home" asp-action="InvestingStrategies"><h2 class="strategyName"><strong>Dividend growth</strong></h2></a>
            <hr style=" width: 70%; margin: auto;" />
            <p style=" width: 95%; margin: auto;">
                Strategy focused on investing in companies with a history of consistent dividend payments and dividend yield growth. Key factor is diversification in companies in a variety of industries, limiting the effect of a decline in one sector. This strategy is focused on Buying and holding, because reinvesting dividends is meant to compound returns over time, very much like a compounding interest in a bank deposit, with the additional benefit that the investor profits from the increase of the share price as well.
                <a class="nav-link" asp-controller="Home" asp-area="Customer" asp-action="InvestingStrategies">View more >>></a>
            </p>

        </div>

        <div class="strategy2 hidden">

            <div class="strategy2">
                <a class="nav-link" asp-controller="Home" asp-area="Customer" asp-action="InvestingStrategies2"><h2 class="strategyName"><strong>Value investing</strong></h2></a>
                <hr style=" width: 70%; margin: auto;" />
                <p style=" width: 95%; margin: auto;">
                    Value investing, made famous by iconic investors like Benjamin Graham and Warren Buffett, is an investment strategy where investors seek to purchase stocks that they believe are undervalued in the market. The core principle is to buy these stocks at a price that is lower than their intrinsic or book value, with the expectation that the market will eventually recognize their true value, leading to an increase in their price.
                    <a class="nav-link" asp-controller="Home" asp-area="Customer" asp-action="InvestingStrategies2">View more >>></a>

                </p>
            </div>
        </div>

        <div class="strategy3 hidden">

            <div class="strategy3">
                <a class="nav-link" asp-controller="Home" asp-area="Customer" asp-action="InvestingStrategies3"><h2 class="strategyName"><strong>Balanced Investing</strong></h2></a>
                <hr style=" width: 70%; margin: auto;" />
                <p style=" width: 95%; margin: auto;">
                    Balanced investing is an investment strategy that aims to create a portfolio with a mix of asset classes to achieve a balance between risk and return. This strategy typically involves a combination of equities (stocks), fixed-income securities (bonds), and sometimes other asset classes such as real estate, commodities, or cash equivalents. The goal is to provide growth through capital appreciation from equities while generating stable income and reducing volatility with fixed-income investments.
                    <a class="nav-link" asp-controller="Home" asp-area="Customer" asp-action="InvestingStrategies3">View more >>></a>

                </p>
            </div>
        </div>
    </div>
    <div class="guides hiddenG">
        <div class="g1">
            <div class="noHoverA">
                <a class="nav-link ga" asp-area="Customer" asp-controller="Home" asp-action="Stocks">Equities (Stocks)</a>
            </div>
            
        </div>
        <div class="g2">
            <div class="noHoverA">
                <a class="nav-link ga">Fixed Income (Bonds)</a>
            </div>
        </div>
        <div class="g3">
                <div class="noHoverA">
                <a class="nav-link ga">Commodities</a>
            </div>
        </div>
        <div class="g4">
                    <div class="noHoverA">
                <a class="nav-link ga">Real Estate (REITs)</a>
            </div>
        </div>
        <div class="g5">
            <div class="noHoverA">
                <a class="nav-link ga">Currencies (Forex & crypto)</a>
            </div>
        </div>
        <div class="g6">
            <div class="noHoverA">
                <a class="nav-link ga">Cash and Cash Equivalents</a>
            </div>

        </div>
        <div class="g7">
            <div class="noHoverA">
                <a class="nav-link ga">Private Equity</a>
            </div>

        </div>
        <div class="g8">
            <div class="noHoverA">
                <a class="nav-link ga">Hedge Funds</a>
            </div>
        </div>
        <div class="g9">
            <div class="noHoverA">
                <a class="nav-link ga">Collectibles</a>
            </div>
        </div>
    </div>
</div>










