@{
    ViewData["Title"] = "InvestingStratPage2";
}

   <body>
    <div class="hero-sectionStrat">
        <h1>Investing Strategies</h1>
        <p>Discover the best strategies to grow your wealth.</p>
    </div>

    <div class="backCardStratPage">
        <div class="SecondStrategy">Value investing strategy:</div>
        <div >
            <p>
                <strong>Intrinsic Value:</strong> Value investors determine a stock’s intrinsic value through fundamental analysis, considering factors like earnings, dividends, future growth prospects, and the company's financial health. They compare this intrinsic value to the stock’s current market price to identify undervalued stocks.
            </p>
        </div>
        <div >
            <p>
                <strong>Margin of Safety:</strong> This concept involves buying stocks at a significant discount to their intrinsic value to minimize risk and maximize potential returns. The margin of safety acts as a buffer against errors in calculation or unforeseen negative events.
            </p>
        </div>
        <div >
            <p>
                <strong>Long-term Perspective:</strong> Value investors typically have a long-term investment horizon. They are patient and willing to wait for the market to correct the undervaluation. This approach contrasts with short-term trading strategies focused on quick gains.
            </p>
        </div>
        <div >
            <p>
                <strong>Focus on Fundamentals:</strong> The strategy emphasizes a company’s fundamentals rather than market trends or technical indicators. Key metrics include price-to-earnings (P/E) ratio, price-to-book (P/B) ratio, and dividend yield.
            </p>
        </div>
        <div >
            <p>
                <strong>Contrarian Approach:</strong> Value investing often involves a contrarian mindset, where investors buy stocks that are out of favor or overlooked by the market. These stocks may be undervalued due to temporary issues, market overreactions, or broader economic downturns.
            </p>
        </div>
        <div >
            <p>
                <strong>Diversification:</strong> While value investors focus on individual stocks, they also practice diversification to spread risk across different sectors and industries, reducing the impact of any single investment’s poor performance.
            </p>
        </div>
        <div >
            <p>
                Overall, value investing is about finding high-quality stocks that are undervalued by the market, buying them at a discount, and holding them until their true value is realized
            </p>
        </div>
      
      
    </div>

</body>