<body>
    <div class="hero-sectionStocks">
        <h1>Equities (Stocks)</h1>
        <p>Discover the best strategies to grow your wealth.</p>
    </div>
    <div class="flex-containerStocks">
    <div class="StocksTextWrapper">
        <h1 style="color: black">SOmething</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus velit at tortor consectetur, id scelerisque ipsum tincidunt. Fusce et purus lacus. In hac habitasse platea dictumst. Vivamus pretium ipsum id justo ornare iaculis. Pellentesque eget scelerisque nisi, non elementum dolor. Quisque tristique nisl nec tellus fringilla volutpat. Donec consequat diam et libero fringilla, vitae tincidunt enim aliquet. Maecenas elementum quam eu urna vestibulum dapibus. Aenean arcu urna, consectetur eu egestas et, efficitur sed lacus. Phasellus porta, odio a consectetur scelerisque, massa ante posuere ipsum, vel sagittis leo ante quis nibh. Curabitur posuere nisi sed libero porttitor, ac egestas tellus porttitor. Nunc consectetur venenatis massa ut fermentum. Aenean sit amet venenatis risus. Quisque sit amet diam eget enim molestie vestibulum. Suspendisse interdum sapien in neque luctus, ut vulputate tortor ornare. Quisque tincidunt finibus leo.
            </p>
    </div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" id="containerStocks">
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
              {
              "colorTheme": "light",
              "dateRange": "12M",
              "exchange": "US",
              "showChart": true,
              "locale": "en",
              "largeChartUrl": "",
              "isTransparent": false,
              "showSymbolLogo": true,
              "showFloatingTooltip": true,
              "width": "300",
              "height": "800",
              "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
              "plotLineColorFalling": "rgba(41, 98, 255, 1)",
              "gridLineColor": "rgba(240, 243, 250, 0)",
              "scaleFontColor": "rgba(19, 23, 34, 1)",
              "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
              "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
              "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
              "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
              "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
            }
        </script>
    </div>
    </div>
    <!-- TradingView Widget END -->
</body>